/* Import external CSS files for fonts and colors */
@import "/src/assets/fonts/font.css";
@import "/src/assets/colors/colors.css";

/* Global styles */
body {
  font-family: 'Roboto', sans-serif;
}

/* Styles for the aboutme-container */
.aboutme-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 100%;
  padding: 50px 0 10px;
  box-shadow: 3px 4px 4px 0px rgba(163, 159, 159, 0.25);
}

/* Styles for the text section */
.text {
  padding-right: 400px;
}

/* Styles for the name */
#name {
  color: var(--color-Black);
  font-family: 'Roboto-Medium';
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  margin-top: -36px;
  margin-bottom: -36px;
}

/* Styles for the image */
.image img {
  vertical-align: middle;
  width: 300px;
  height: 300px;
  border-radius: 10%;
}

/* Styles for the icon section */
.icon {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: -20px;
}

.icon a {
  text-decoration: none;
}

/* Styles for icon images (if needed) */
.icon img {
  width: 30px;
  height: 30px;
  border-radius: 20%;
}

/* Styles for the "Get My Resume" button */
#getResume {
  width: 150px;
  height: 30px;
  flex-shrink: 0;
  margin-top: 10px;
  border-radius: 10px;
  margin-right: 20px;
  background: var(--color-Onyx);
  color: var(--color-White);
  font-family: 'Itim-Regular';
}

/* Styles for the "See My Resume" button */
#seeResume {
  width: 150px;
  height: 30px;
  flex-shrink: 0;
  margin-top: 10px;
  border-radius: 10px;
  background: var(--color-White);
  color: var(--color-Black);
  font-family: 'Itim-Regular';
}

/* Additional styles for button text color */
.white-button {
  color: var(--color-White);
}

.black-button {
  color: var(--color-Black);
}
