@import "/src/assets/fonts/font.css";
@import "/src/assets/colors/colors.css";

/* aboutme.css */
#greeting{
    color: var(--color-Black);
    font-family: 'Roboto-Thin', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

#name {
    color: var(--color-Black);
    font-family: 'Roboto-Medium';
    font-size: 40px;
    font-style: normal;
    line-height: normal;
    margin-top: -36px;
    margin-bottom: -36px;
}
.aboutme-container {
  height: 40%; /* 100% chiều cao của màn hình */
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
