:root {
    --white: #FFFFFF;
    --black: #000000;
    --light-green: #8DD98B;
    --zomp:#3FA689;
    --myrtle-green:#226B73;
    --japanese-indigo:#164059;
    --regalia: #533473;
    --blue: #007BFF; /* Màu xanh dương */
}
