:root {
    --white: #FFFFFF;
    --black: #000000;
    --light-green: #8DD98B;
    --zomp:#3FA689;
    --myrtle-green:#226B73;
    --japanese-indigo:#164059;
    --regalia: #533473;
    --blue: #007BFF;/* Màu xanh dương */
    --dark-blue:#0A2472; /*Màu xanh dương đâm*/
    --light-gray:#606060;
}
