@import url('../../styles/colors.css');
@import url('../../styles/fonts.css');

body, html {
    @apply h-full m-0;
    font-family: 'Open Sans', sans-serif;
    background: var(--white);
    color: white;
}

.home-section {
    @apply h-screen flex flex-col justify-center items-center text-white;
}

.home-content {
    @apply container mx-auto flex flex-col md:flex-row items-center;
}

.home-header {
    @apply flex flex-col md:w-1/2 p-0; /* Removed extra padding */
}

.heading {
    @apply text-4xl mb-4 text-[var(--black)];
    font-family: 'Open Sans', sans-serif;
}

.heading-name {
    @apply text-6xl font-bold mb-4 text-[var(--black)];
    font-family: 'Open Sans', sans-serif;
}

.main-name {
    @apply text-[var(--blue)];
    font-family: 'Open Sans', sans-serif;
}

.type-wrapper {
    @apply text-2xl text-[var(--black)];
    font-family: 'Open Sans', sans-serif;
}

.img-fluid {
    @apply max-h-[450px];
}

.home-logo {
    @apply flex justify-center md:w-1/2 p-4;
}

.social-icons {
    @apply flex justify-start gap-5 mt-5;
}

.icon {
    @apply text-2xl transition-colors ease-in-out duration-300;
    color: var(--light-gray); /* Blue color */
}

.icon:hover {
    color: var(--blue); /* Darker blue on hover */
}

