.image-section {
    @apply h-80 bg-cover bg-center mb-5;
    background-image: url('../../assets/backgrounds/blue_art.jpg'); /* Replace with the correct path */
}

.circle {
    @apply flex justify-center items-center; /* Ensures the button is centered in the circle */
}

.image-section-button {
    background-color: var(--bg-cyan-500);
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.image-section-button:hover {
    background-color: var(--bg-cyan-700); /* Define this variable in your colors.css */
}
.button-text {
    @apply text-2xl font-bold; /* Tailwind utilities for font size and weight */
    font-family: 'Open Sans', sans-serif; /* Ensures the custom font is applied */
}