/* Navigation.css */
@import "../assets/colors/colors.css";
@import "../assets/fonts/font.css";
.navigation {
    background-color: var(--color-white); /* Màu xanh lá */
    padding: 20px;
    display: flex; /* Sử dụng flexbox thay thay float */
    align-items: center; /* Canh giữa theo chiều dọc */
    justify-content: space-between; /* Canh đều hai đầu */
    width: auto;
  }
  /* Tạo viền đen bên trên nav */
.navigation::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 10px; /* Điều chỉnh chiều cao của viền đen */
  background-color: black; /* Màu đen */
}
  .navigation ul {
    list-style-type: none;
    display: flex;
  }
  
  .navigation li {
      font-family: "Itim-Regular";
      font-size: 24px;
      margin-left: 20px;
      margin-right: 50px;
  }
  
  .navigation a {
    text-decoration: none;
    color: var(--color-black);; /* Màu chữ trắng */
    font-weight: bold;
  }
  .navigation img {
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;

  }
  /* Trong tệp Navigation.css */
.avatar-container {
  display: flex;
  align-items: center;
}

.avatar-container img {
  width: 50px; /* Điều chỉnh kích thước hình ảnh theo mong muốn */
  height: auto; /* Để giữ tỷ lệ khung hình khi thay đổi kích thước */
  margin-right: 10px; /* Khoảng cách giữa hình ảnh và chữ */
}

.avatar-container p {
  font-size: 16px; /* Điều chỉnh kích thước chữ theo mong muốn */
}
