/* Import Bootstrap CSS if you haven't already */

/* Apply Bootstrap classes and styles to your navigation */
.navigation.navbar {
  background-color: var(--color-white); /* Màu xanh lá */
}

.navigation.navbar .container {
  display: flex;
  align-items: center; /* Canh giữa theo chiều dọc */
  justify-content: space-between; /* Canh đều hai đầu */
  padding: 20px;
}

/* Tạo viền đen bên trên nav */
.navigation.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px; /* Điều chỉnh chiều cao của viền đen */
  background-color: black; /* Màu đen */
}

.navigation.navbar ul {
  list-style-type: none;
  display: flex;
}

.navigation.navbar li {
  font-family: "Itim-Regular";
  font-size: 24px;
  margin-left: 20px;
  margin-right: 50px;
}

.navigation.navbar a {
  text-decoration: none;
  color: var(--color-black); /* Màu chữ trắng */
  font-weight: bold;
}

.navigation.navbar img.avatar {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px; /* Khoảng cách giữa hình ảnh và chữ */
}

/* Trong tệp Navigation.css */
.avatar-container {
  display: flex;
  align-items: center;
}

.avatar-container img {
  width: 50px; /* Điều chỉnh kích thước hình ảnh theo mong muốn */
  height: auto; /* Để giữ tỷ lệ khung hình khi thay đổi kích thước */
}

.avatar-container p {
  font-size: 16px; /* Điều chỉnh kích thước chữ theo mong muốn */
}
